/* UNIVERSALI */
*{
    font-family: 'Roboto', sans-serif;
}

.avatar{
    width: 60px;
}

.icone_top i:hover, .componi i:hover, .barra_ricerca i:hover{
    color: #00968771;
    cursor: pointer;
}

li > span, .avatar, .contatto_attivo span, .utente span{
    cursor: pointer;
}


/* BODY */
.sfondo_principale{
    height: 100vh;
    background: linear-gradient(to top, #D2DBDC, #DDDBD1);
    position: relative;
}

.banda{
    background-color: #009688;
    width: 100%;
    height: 120px;
    position: absolute;
}

#app{
    position: absolute;
    top: 2.5vh;
    left: 10%;
    background-color: #EAEAEA;
    height: 95vh;
    width: 80%;
}

/* HEADER */
.utente_contatti{
    background-color: #EAEAEA;
    height: calc(120px - 2.5vh);
}

.sezione_utente, .sezione_contatti{
    height: calc(120px - 2.5vh);
    display: flex;
    align-items: center;
}

.sezione_utente{
    justify-content: space-between;
    padding: 1.5rem;
}

.icone_top{
    font-size: 1.5rem;
    color: #B1B1B1;
}

/* MAIN */

/* Sezione avviso */
.avviso{
    background-color: #8EDAFC;
    display: flex;
}

.avviso > i{
    font-size: 1.5rem;
    color: #8EDAFC;
    background-color: white;
    padding: .8rem .6rem;
}

/* Sezione cerca */
.ricerca, .avviso a{
    font-size: .8rem;
}

.barra_ricerca{
    display: flex;
    position: relative;
}

.barra_ricerca i{
    color: #BABBBB;
    position: absolute;
    top: 30%;
    left: 5%;
}

.ricerca{
    width: 100%;
    border: none;

}

/* Sezione contatti */
.lista_contatti{
    background-color: white;
    height: calc(100vh - 295px);
    overflow: scroll;
}

/* Sezione chat */
.conversazione{
    height: calc(100vh - (230px + 2.5vh));
    margin-left: -.75rem;
    background-image: url(../img/mine.jpg);
    overflow-x: auto;

}

/* Sezione scrivi un messaggio */
.componi{
    background-color: #EAEAEA;
    height: 110px;
    margin-left: -.75rem;
    display: flex;
    align-items: center;
}

.componi i{
    font-size: 2rem;
    color: #6B7376;
}

input:focus { 
    outline: none !important;
    box-shadow: 0 0 5px #009688;
}

/* Sezione contatti attivi */
.non_selezionato{
    visibility: hidden;
}

.selezionato{
   visibility: visible;

}

.messaggi{
    background-color: #ffffff;
    width: max-content;
    border-radius: 15px;
    position: relative;
}

.messaggi .text-end{
    font-size: .8rem;
    color: #b6b6b6;
}

.ricevuto{
    background-color: #D5F9BA;
    margin-left: auto;
}

.contatto_attivo{
    display: flex;
}

.dettagli_contatto_attivo{
    display: flex;
    flex-direction: column;
}

/* Indicatore */
.indicatore{
    font-size: 2.5rem;
    position: absolute;
    top: -1.55rem;
    left: -.6rem;
    color: white; 
    visibility: hidden;
}

.indicatore_inviato{
    color: #D5F9BA;
    font-size: 2.5rem;
    position: absolute;
    top: -1.55rem;
    right: -.6rem;
    visibility: hidden;
}

.visibile{
    visibility: visible;
}

.inizio{

    background-image: url(/assets/img/Schermata\ 2021-05-21\ alle\ 23.03.12.png);
    background-size: cover;
    background-position: center;
}






